@model IdeasTracker.Models.BacklogModel

@{
    ViewData["Title"] = "Adopt";
}

@section scripts{
<script>$('#image').css('background-image', 'url(https://i.imgur.com/9jlbVYa.png)');
    $("#image-text").text("Lets celebrate and adopt some ANDis projects!");</script>
}

<div class="row">

    <div class="col-lg-12">
        <h1 class="details-header">Details for <span>@Model.CustomerProblem</span></h1>
    </div>

    <div class="col-lg-4">

        <p>
            @Html.DisplayNameFor(model => model.Id)
            <div class="text-display">
                @Model.Id
            </div>
        <p />
        <p>
            @Html.DisplayNameFor(model => model.CustomerProblem)
            <div class="text-display">
                @Model.CustomerProblem
            </div>
        </p>
        <p>
            @Html.DisplayNameFor(model => model.ProblemDescription)
            <div class="text-display">
                @Model.ProblemDescription
            </div>
        </p>
        <p>
            @Html.DisplayNameFor(model => model.Status)
            <div class="text-display">
                @Model.Status
            </div>
        </p>

    </div>

    <div class="col-lg-4">
        <p>
            @Html.DisplayNameFor(model => model.ProductOwner)
            <div class="text-display">
                @Model.ProductOwner
            </div>
        </p>
        <p>
            @Html.DisplayNameFor(model => model.BootcampAssigned)
            <div class="text-display">
                @Model.BootcampAssigned
            </div>
        </p>
        <p>
            @Html.DisplayNameFor(model => model.SolutionDescription)
            <div class="text-display">
                @Model.SolutionDescription
            </div>
        </p>

        <p>
            @Html.DisplayNameFor(model => model.Links)
            <div class="text-display">
                <a href="@Model.Links" class="links-link">@Model.Links</a>
            </div>
        </p>
    </div>

    <div class="col-lg-4">
        <form asp-action="Adopt">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdoptedBy" class="control-label"></label>
                <input asp-for="AdoptedBy" class="form-control" />
                <span asp-validation-for="AdoptedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdoptionValue" class="control-label"></label>
                <textarea asp-for="AdoptionValue" class="form-control" rows="5" cols="50"></textarea>
                <span asp-validation-for="AdoptionValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdoptionReason" class="control-label"></label>
                <textarea asp-for="AdoptionReason" class="form-control" rows="5" cols="50"></textarea>
                <span asp-validation-for="AdoptionReason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Adopt" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <a asp-action="Index">Back to List</a>
</form>
