@model IdeasTracker.Models.BacklogModel

@{
    ViewData["Title"] = "Details";
}


@section scripts{
<script>$('#image').css('background-image', 'url(https://i.imgur.com/nSxM77r.jpg)');
    $("#image-text").text("Build week project Details")
    $(window).scroll(function () {
        $(".hero-image").children().css("opacity", 1 - $(window).scrollTop() / 250);
    });</script>
}


<div class="product-info">

    <h1>Details for <span>@Model.CustomerProblem</span></h1>

    <div class="row">
        <div class="col-lg-6">

            
                <p class="">
                    @Html.DisplayNameFor(model => model.Id)
                    <div class="text-display">
                        @Model.Id
                    </div>
                <p/>
            
            
                <p>
                    @Html.DisplayNameFor(model => model.CustomerProblem)
                    <div class="text-display">
                        @Model.CustomerProblem
                    </div>
                </p>
            
            
                <p>
                    @Html.DisplayNameFor(model => model.ProblemDescription)
                    <div class="text-display">
                        @Model.ProblemDescription
                    </div>
                </p>
            
            
                <p>
                    @Html.DisplayNameFor(model => model.Status)
                    <div class="text-display">
                        @Model.Status
                    </div>
                </p>
            

        </div>

        <div class="col-lg-6">
            
                <p>
                    @Html.DisplayNameFor(model => model.ProductOwner)
                    <div class="text-display">
                        @Model.ProductOwner
                    </div>
                </p>
            
            
                <p>
                    @Html.DisplayNameFor(model => model.BootcampAssigned)
                    <div class="text-display">
                        @Model.BootcampAssigned
                    </div>
                </p>
            
            
                <p>
                    @Html.DisplayNameFor(model => model.SolutionDescription)
                    <div class="text-display">
                        @Model.SolutionDescription
                    </div>
                </p>
                
            

            
                <p>
                    @Html.DisplayNameFor(model => model.Links)
                    <div class="text-display">
                        <a href="@Model.Links" class="links-link">@Model.Links</a>
                    </div>
                </p>
            

        </div>

    </div>

</div>

<div>
    @if (User.Identity.IsAuthenticated && Model.RaisedBy == User.Identity.Name)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn AND-button"><i class="fas fa-pencil-alt"></i> Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn AND-button"><i class="fas fa-trash-alt"></i> Delete</a>
    }
    <a asp-action="Index" class="btn AND-button"><i class="fas fa-arrow-left"></i> Back to List</a>

</div>
