@model IdeasTracker.Models.BackLog

@{
    ViewData["Title"] = "Details";
}

@section scripts{
<script>$('#image').css('background-image', 'url(https://i.imgur.com/UkT4jDo.jpg)');
    $("#image-text").text("Project Details");</script>
}

<div class="product-info">
    <h1>Details for <span>@Model.CustomerProblem</span></h1>

    <dl class="row">
        <div class="col-sm-6">
            <dt class="col-sm-4">
                <p class="">
                    @Html.DisplayNameFor(model => model.Id)
                    <div class="text-display">
                        @Model.Id
                    </div>
                <p />
            </dt>
            <dt class="col-sm-4">
                <p>
                    @Html.DisplayNameFor(model => model.CustomerProblem)
                    <div class="text-display">
                        @Model.CustomerProblem
                    </div>
                </p>
            </dt>
            <dt class="col-sm-4">
                <p>
                    @Html.DisplayNameFor(model => model.ProblemDescription)
                    <div class="text-display">
                        @Model.ProblemDescription
                    </div>
                </p>
            </dt>
            <dt class="col-sm-4">
                <p>
                    @Html.DisplayNameFor(model => model.Status)
                    <div class="text-display">
                        @Model.Status
                    </div>
                </p>
            </dt>
        </div>
        <div class="col-sm-6">
            <dt class="col-sm-4">
                <p>
                    @Html.DisplayNameFor(model => model.ProductOwner)
                    <div class="text-display">
                        @Model.ProductOwner
                    </div>
                </p>
            </dt>
            <dt class="col-sm-4">
                <p>
                    @Html.DisplayNameFor(model => model.BootcampAssigned)
                    <div class="text-display">
                        @Model.BootcampAssigned
                    </div>
                </p>
            </dt>
            <dt class="col-sm-4">
                <p>
                    @Html.DisplayNameFor(model => model.SolutionDescription)
                    <div class="text-display">
                        @Model.SolutionDescription
                    </div>
                </p>
            </dt>
        </div>
    </dl>
</div>
<div class="buttons">
    @if (User.Identity.IsAuthenticated && Model.RaisedBy == User.Identity.Name)
    {

        <a asp-action="Edit" asp-route-id="@Model.Id" class="AND-button"><i class="fas fa-pencil-alt"></i> Edit</a>
        <a asp-action="Adopt" asp-route-id="@Model.Id" class="AND-button"><i class="fas fa-trash-alt"></i> Delete</a>
    }
    <a asp-action="Index" class="AND-button"><i class="fas fa-arrow-left"></i> Back to List</a>
</div>