@model IdeasTracker.Models.BackLog

@{
    ViewData["Title"] = "Edit";
}


@section scripts{
<script>$('#image').css('background-image', 'url(https://i.imgur.com/YA5OtMi.png)');
    $("#image-text").text("Edit Project");</script>
}
<h1>Edit</h1>

<div class="product-info">
    <h1>Details for <span>@Model.CustomerProblem</span></h1>

    <dl class="row">
        <div class="col-sm-6">
            <dt class="col-sm-4">
                <p class="">
                    @Html.DisplayNameFor(model => model.Id)
                    <div class="text-display">
                        @Model.Id
                    </div>
                <p />
            </dt>
            <dt class="col-sm-4">
                <p>
                    @Html.DisplayNameFor(model => model.CustomerProblem)
                    <div class="text-display">
                        @Model.CustomerProblem
                    </div>
                </p>
            </dt>
            <dt class="col-sm-4">
                <p>
                    @Html.DisplayNameFor(model => model.ProblemDescription)
                    <div class="text-display">
                        @Model.ProblemDescription
                    </div>
                </p>
            </dt>
            <dt class="col-sm-4">
                <p>
                    @Html.DisplayNameFor(model => model.Status)
                    <div class="text-display">
                        @Model.Status
                    </div>
                </p>
            </dt>
        </div>
        <div class="col-sm-6">
            @*<dt class="col-sm-4">
            <p>
                @Html.DisplayNameFor(model => model.ProductOwner)
                <div class="text-display">
                    @Model.ProductOwner
                </div>
            </p>
        </dt>
        <dt class="col-sm-4">
            <p>
                @Html.DisplayNameFor(model => model.BootcampAssigned)
                <div class="text-display">
                    @Model.BootcampAssigned
                </div>
            </p>
        </dt>
        <dt class="col-sm-4">
            <p>
                @Html.DisplayNameFor(model => model.SolutionDescription)
                <div class="text-display">
                    @Model.SolutionDescription
                </div>
            </p>
        </dt>*@
            <div id="editForm">
            <form asp-action="EditIdea" value="@Model.Id">
                <div class="EditIdeaFormTitle">
                <p>Owner</p></div>
                <input asp-for="ProductOwner" type="text" class="product-owner" />
                <div class="EditIdeaFormTitle"><p>Bootcamp Assigned</p></div>
                <input asp-for="BootcampAssigned" type="text" class="bootcamp-assigned" />
                <div class="EditIdeaFormTitle"><p>Solution Description</p></div>
                <input asp-for="SolutionDescription" type="text" class="solution-description" />
                @*Html.DisplayNameFor(model => model.Id)*@
                <input asp-for="Id" type="hidden" class="id" />
                <input type="submit" value="Submit" class="btn btn-light">
            </form>
            </div> 
        </div>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated && Model.RaisedBy == User.Identity.Name)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a><span> |</span>
        <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a><span> |</span>
    }
    <a asp-action="Index" class="AND-button">Back to List</a>
</div>


