@model IdeasTracker.Models.BacklogModel

@{
    ViewData["Title"] = "Edit";
}


@section scripts{
    <script>$('#image').css('background-image', 'url(https://i.imgur.com/YA5OtMi.png)');
        $("#image-text").text("Edit Project");
        $(window).scroll(function () {
            $(".hero-image").children().css("opacity", 1 - $(window).scrollTop() / 250);
        });</script>
    <script>$("form").change(function () {
            console.log($("#status option:selected").val());
            var status = $("#status option:selected").val();
            const checker = "Project-Adoptable";
            var solnDesc = $("#SolutionDescription").val();
            if ((status === checker) && (solnDesc.length === 0)) {
                $('input[type="submit"]').prop('disabled', true);
            } else {
                $('input[type="submit"]').prop('disabled', false);
            }
        });</script>
}
<div class="product-info">
<h1>Edit</h1>

    <h1>Editing <span>@Model.CustomerProblem</span></h1>

    <form asp-action="EditIdea" value="@Model.Id">
        <div class="row">
            <div class="col-sm-6">

                <p>
                    @Html.DisplayNameFor(model => model.Id)
                    <div class="text-display">
                        @Model.Id
                    </div>
                </p>

                <p>
                    @Html.DisplayNameFor(model => model.CustomerProblem)
                    <div class="text-display">
                        @Model.CustomerProblem
                    </div>
                </p>

                <p>
                    @Html.DisplayNameFor(model => model.ProblemDescription)
                    <div class="text-display">
                        @Model.ProblemDescription
                    </div>
                </p>
                <p>Status</p>
                <select asp-for="Status" id="status">
                    <option value="Idea Pending">Idea Pending</option>
                    <option value="Idea Accepted">Idea Accepted</option>
                    <option value="PO Assigned">PO Assigned</option>
                    <option value="Bootcamp Assigned">Bootcamp Assigned</option>
                    <option value="In Bootcamp">In Bootcamp</option>
                    <option value="Project Adoptable">Project Adoptable</option>
                    <option value="Adoption Request">Andoption Request</option>
                    <option value="Adopted">Adopted</option>
                </select>


            </div> <!-- col lg 6 -->
            <div class="col-lg-6">

                <div id="editForm">
                    <div class="EditIdeaFormTitle"><p>Owner</p></div>
                    <input asp-for="ProductOwner" type="text" class="product-owner" />
                    <div class="EditIdeaFormTitle"><p>Bootcamp Assigned</p></div>
                    <input asp-for="BootcampAssigned" type="text" class="bootcamp-assigned" />
                    <div class="EditIdeaFormTitle"><p>Solution Description</p></div>

                    <input asp-for="SolutionDescription" type="text" class="solution-description" />

                    <p>Project Links</p>
                    <input asp-for="Links" type="text" class="links" />
                    @*Html.DisplayNameFor(model => model.Id)*@
                    <input asp-for="Id" type="hidden" class="id" />
                    <input type="submit" value="Submit" class="btn btn-light">
                </div>

            </div>
    </form>
    <div class="col-lg-12" id="editButtons">

        @if (User.Identity.IsAuthenticated && Model.RaisedBy == User.Identity.Name)
        {
            <a class="btn AND-button" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-pencil-alt"></i> Edit</a>
            <a class="btn AND-button" asp-action="Delete" asp-route-id="@Model.Id"><i class="fas fa-trash-alt"></i> Delete</a>
            @if (Model.Status == "Project Adoptable")
            {
                <a class="btn AND-button" asp-action="Adopt" asp-route-id="@Model.Id"><i class="far fa-handshake"></i> Adopt</a>
            }
        }
        <a asp-action="Index" class="btn AND-button"><i class="fas fa-arrow-left"></i> Back to List</a>
    </div>
</div>
</div>


