@model IdeasTracker.Models.BackLog

@{
    ViewData["Title"] = "Edit";
}

<div class="product-info">
    <h1>Details for <span>@Model.CustomerProblem</span></h1>

    <dl class="row">
        <div class="col-sm-6">
            <dt class="col-sm-4">
                <p class="">
                    @Html.DisplayNameFor(model => model.Id)
                    <div class="text-display">
                        @Model.Id
                    </div>
                <p />
            </dt>
            <dt class="col-sm-4">
                <p>
                    @Html.DisplayNameFor(model => model.CustomerProblem)
                    <div class="text-display">
                        @Model.CustomerProblem
                    </div>
                </p>
            </dt>
            <dt class="col-sm-4">
                <p>
                    @Html.DisplayNameFor(model => model.ProblemDescription)
                    <div class="text-display">
                        @Model.ProblemDescription
                    </div>
                </p>
            </dt>
            <dt class="col-sm-4">
                <p>
                    @Html.DisplayNameFor(model => model.Status)
                    <div class="text-display">
                        @Model.Status
                    </div>
                </p>
            </dt>
        </div>
        <div class="col-sm-6">
            @*<dt class="col-sm-4">
                <p>
                    @Html.DisplayNameFor(model => model.ProductOwner)
                    <div class="text-display">
                        @Model.ProductOwner
                    </div>
                </p>
            </dt>
            <dt class="col-sm-4">
                <p>
                    @Html.DisplayNameFor(model => model.BootcampAssigned)
                    <div class="text-display">
                        @Model.BootcampAssigned
                    </div>
                </p>
            </dt>
            <dt class="col-sm-4">
                <p>
                    @Html.DisplayNameFor(model => model.SolutionDescription)
                    <div class="text-display">
                        @Model.SolutionDescription
                    </div>
                </p>
            </dt>*@
            <form asp-action="EditIdea" value="@Model.Id">
                Product Owner
                <input asp-for="ProductOwner" type="text" class="product-owner" />
                Bootcamp Assigned
                <input asp-for="BootcampAssigned" type="text" class="bootcamp-assigned" />
                Solution Description
                <input asp-for="SolutionDescription" type="text" class="solution-description" />
                @Html.DisplayNameFor(model => model.Id)
                <input asp-for="Id" type="hidden" class="id" />
                <input type="submit" value="k00l K1dz">
            </form>
        </div>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated && Model.RaisedBy == User.Identity.Name)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a><span> |</span>
        <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a><span> |</span>
    }
    <a asp-action="Index" class="AND-button">Back to List</a>

</div>