@model IEnumerable<IdeasTracker.Models.BackLog>

@{
    ViewData["Title"] = "Backlog";
}

@section scripts{
    <script>
            $('#image').css('background-image', 'url(https://i.imgur.com/8Cl8dJE.png)');
            $("#image-text").text("New word");
            </script>
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
      <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RaisedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerProblem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BootcampAssigned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductOwner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdoptedBy)
        </th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model) {  
      <tr>
          <td>
              @Html.DisplayFor(modelItem => item.Id)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.RaisedBy)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.CustomerProblem)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.Status)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.BootcampAssigned)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.ProductOwner)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.AdoptedBy)
          </td>
        <td>
          <a asp-action="Details" asp-route-id="@item.Id">Details</a>
          @if (User.Identity.IsAuthenticated && item.RaisedBy == User.Identity.Name)
          {
            <span> |</span>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><span> |</span>
            <!--<a asp-action="Delete" asp-route-id="@item.Id">Delete</a> -->
          }
        </td>
      </tr>
      }
    </tbody>
</table>
