@model IEnumerable<IdeasTracker.Models.BackLog>

@{
    ViewData["Title"] = "Backlog";
}

@section scripts{
<script>$('#image').css('background-image', 'url(https://i.imgur.com/5oNDsrm.png)');
    $("#image-text").text("Let\'s see what our ANDis have been up to!");</script>
}

<div class="row top-table-imgs">
    <div class="col-sm-4">

        <div class="col-lg-6 FLeft">
            <img class="img-responsive" src="https://i.imgur.com/IFTNUEp.jpg" />
        </div>
        <div class="col-lg-6 Fleft">
            <p>Idea</p>
        </div>

    </div>
    <div class="col-sm-4 second-child">

        <div class="col-lg-6 FLeft">
            <img class="img-responsive" src="https://static.andigital.com/wp-content/uploads/2015/03/20162148/Robot.jpg" />
        </div>
        <div class="col-lg-6 Fleft">
            <p>Bootcamp</p>
        </div>

    </div>
    <div class="col-sm-4 final-child">

        <div class="col-lg-6 FLeft">
            <img class="img-responsive" src="https://static.andigital.com/wp-content/uploads/2017/08/08160428/joshua-hibbert-22841-copy.png" />
        </div>
        <div class="col-lg-6 Fleft">
            <p>Where next</p>
        </div>

    </div>
</div>
<div class="table-responsive">
   <table class="table">
    
    <thead>
      <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RaisedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerProblem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BootcampAssigned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductOwner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdoptedBy)
        </th>
        <th>

        </th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model) {  
      <tr>
          <td>
              @Html.DisplayFor(modelItem => item.Id)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.RaisedBy)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.CustomerProblem)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.Status)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.BootcampAssigned)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.ProductOwner)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.AdoptedBy)
          </td>
        <td>
          <a asp-action="Details" asp-route-id="@item.Id" class="AND-button">Details</a>
          @if (User.Identity.IsAuthenticated && item.RaisedBy == User.Identity.Name)
          {
            <span> |</span>
            <a asp-action="Edit" asp-route-id="@item.Id" class="AND-button">Edit</a>
            <span> |</span>
            <a asp-action="Adopt" asp-route-id="@item.Id" class="AND-button">Adopt</a>
          }
        </td>
      </tr>
      }
    </tbody>
</table>
   <p>
       <a class="AND-button" asp-action="Create"><i class="fas fa-comment-medical"></i> Create New</a>
   </p>
    </div>
